service: alerta-utec-realtime
frameworkVersion: '4'

provider:
  name: aws
  runtime: python3.12
  region: us-east-1
  stage: production

  # ⚠️ IMPORTANTE: usar un rol YA EXISTENTE (no crear uno nuevo)
  iam:
    role: arn:aws:iam::645337731455:role/LabRole

custom:
  connectionsTableName: alerta-utec-connections-${sls:stage}
  incidentesTableName: alerta-utec-incidentes-${sls:stage}

functions:
  websocketConnect:
    handler: websocket_connect.lambda_handler
    environment:
      CONNECTIONS_TABLE: ${self:custom.connectionsTableName}
    events:
      - websocket:
          route: $connect

  websocketDisconnect:
    handler: websocket_disconnect.lambda_handler
    environment:
      CONNECTIONS_TABLE: ${self:custom.connectionsTableName}
    events:
      - websocket:
          route: $disconnect

  dynamoStreamBroadcast:
    handler: dynamo_stream_broadcast.lambda_handler
    environment:
      CONNECTIONS_TABLE: ${self:custom.connectionsTableName}
      WS_ENDPOINT:
        Fn::Join:
          - ''
          - - 'https://'
            - Ref: WebsocketsApi
            - '.execute-api.'
            - Ref: AWS::Region
            - '.amazonaws.com/'
            - ${sls:stage}
    events:
      - stream:
          type: dynamodb
          arn:
            Fn::GetAtt:
              - IncidentesTable
              - StreamArn
          maximumRetryAttempts: 3
          startingPosition: LATEST

resources:
  Resources:
    ConnectionsTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:custom.connectionsTableName}
        AttributeDefinitions:
          - AttributeName: connectionId
            AttributeType: S
        KeySchema:
          - AttributeName: connectionId
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST

    IncidentesTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:custom.incidentesTableName}
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST
        StreamSpecification:
          StreamViewType: NEW_AND_OLD_IMAGES
