# Variables de entorno esenciales
# Copia este archivo a .env y ajusta los valores

# AWS Account ID
AWS_ACCOUNT_ID=645337731455

# Serverless Framework Organization
SLS_ORG=darosv

# Stage: dev, test, o prod
STAGE=production

