# Variables de entorno esenciales
# Copia este archivo a .env y ajusta los valores

# AWS Account ID
AWS_ACCOUNT_ID=383544022422

# Serverless Framework Organization
SLS_ORG=jhoganpachacutec

# Stage: dev, test, o prod
STAGE=production

