org: yeimivarela
service: api-authentication

provider:
  name: aws
  runtime: python3.13
  memorySize: 1024
  timeout: 20
  iam:
    role: arn:aws:iam::985026482300:role/LabRole
  environment:
    TABLE_USUARIOS: ${sls:stage}-t_usuarios_hack
    TABLE_TOKENS: ${sls:stage}-t_tokens_acceso
    TABLE_HISTORIAL: ${sls:stage}-t_historial_incidentes

functions:
  register:
    handler: Lambda_CrearUsuario.lambda_handler
    events:
      - http:
          path: /usuario/register
          method: post
          cors: true
          integration: lambda

  login:
    handler: Lambda_LoginUsuario.lambda_handler
    events:
      - http:
          path: /usuario/login
          method: post
          cors: true
          integration: lambda

  validateToken:
    handler: Lambda_ValidarToken.lambda_handler
    events:
      - http:
          path: /usuario/validate-token
          method: post
          cors: true
          integration: lambda

  crearIncidente:
    handler: Lambda_CrearIncidente.lambda_handler
    events:
      - http:
          path: /incidente/crear
          method: post
          cors: true
          integration: lambda

  actualizarIncidente:
    handler: Lambda_ActualizarIncidente.lambda_handler
    events:
      - http:
          path: /incidente/actualizar
          method: put
          cors: true
          integration: lambda

  obtenerHistorial:
    handler: Lambda_ObtenerHistorial.lambda_handler
    events:
      - http:
          path: /incidente/historial
          method: get
          cors: true
          integration: lambda

resources:
  Resources:
    TablaUsuarios:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:provider.environment.TABLE_USUARIOS}
        AttributeDefinitions:
          - AttributeName: correo
            AttributeType: S
        KeySchema:
          - AttributeName: correo
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST

    TablaTokens:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:provider.environment.TABLE_TOKENS}
        AttributeDefinitions:
          - AttributeName: token
            AttributeType: S
        KeySchema:
          - AttributeName: token
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST

    TablaHistorialIncidentes:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:provider.environment.TABLE_HISTORIAL}
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST
