org: ${env:ORG}
service: api-authentication

custom:
  airflowApiUrl:
    default: ${self:custom.apiGatewayUrl.${sls:stage}}
    dev: ${self:custom.apiGatewayUrl.dev}
    test: ${self:custom.apiGatewayUrl.test}
    prod: ${self:custom.apiGatewayUrl.prod}
  apiGatewayUrl:
    dev: https://XXXXXX.execute-api.us-east-1.amazonaws.com/dev
    test: https://XXXXXX.execute-api.us-east-1.amazonaws.com/test
    prod: https://XXXXXX.execute-api.us-east-1.amazonaws.com/prod

provider:
  name: aws
  runtime: python3.13
  memorySize: 1024
  timeout: 30
  stage: ${opt:stage, 'dev'}
  iam:
    role: arn:aws:iam::${env:AWS_ACCOUNT_ID}:role/LabRole
  environment:
    TABLE_USUARIOS: alerta-utec-Usuarios-${self:provider.stage}
    TABLE_TOKENS: alerta-utec-TokensAcceso-${self:provider.stage}

functions:
  register:
    handler: Lambda_CrearUsuario.lambda_handler
    events:
      - http:
          path: /usuario/register
          method: post
          cors: true
          integration: lambda

  login:
    handler: Lambda_LoginUsuario.lambda_handler
    events:
      - http:
          path: /usuario/login
          method: post
          cors: true
          integration: lambda

  validateToken:
    handler: Lambda_ValidarToken.lambda_handler
    events:
      - http:
          path: /usuario/validate-token
          method: post
          cors: true
          integration: lambda

resources:
  Resources:
    TablaUsuarios:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:provider.environment.TABLE_USUARIOS}
        AttributeDefinitions:
          - AttributeName: correo
            AttributeType: S
        KeySchema:
          - AttributeName: correo
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST

    TablaTokens:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:provider.environment.TABLE_TOKENS}
        AttributeDefinitions:
          - AttributeName: token
            AttributeType: S
        KeySchema:
          - AttributeName: token
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST
