service: alerta-utec-incidentes-api
frameworkVersion: '4'

provider:
  name: aws
  runtime: python3.12
  region: us-east-1
  stage: production

  # Usar el mismo rol del lab (NO crea roles nuevos)
  iam:
    role: arn:aws:iam::645337731455:role/LabRole

custom:
  # Nombres de tus tablas ya existentes
  incidentesTableName: Incidentes
  historialTableName: t_historial

functions:
  # 1) Lambda HTTP para cambiar estado de un incidente
  actualizarEstadoIncidente:
    handler: update_incidente.lambda_handler
    environment:
      INCIDENTES_TABLE: ${self:custom.incidentesTableName}
    events:
      - httpApi:
          path: /incidentes/{id}/estado
          method: put

  # 2) Lambda que escucha el stream de Incidentes y escribe en t_historial
  historialStream:
    handler: historial_stream.lambda_handler
    environment:
      INCIDENTES_TABLE: ${self:custom.incidentesTableName}
      HISTORIAL_TABLE: ${self:custom.historialTableName}
    events:
      - stream:
          type: dynamodb
          # ⚠️ REEMPLAZA ESTO POR EL StreamArn REAL DE TU TABLA Incidentes
          arn: arn:aws:dynamodb:us-east-1:645337731455:table/Incidentes/stream/2025-11-16T15:12:50.923
          startingPosition: LATEST
          maximumRetryAttempts: 3

resources:
  Resources: {}
